/* azeret-mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}

 /* azeret-mono */
/* nav */
nav {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 750;
}

nav ul li {
    list-style: none;
    margin-right: 40px; }

    .btn-resume {
        color: rgb(73, 73, 73);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    } 

    nav ul li {
        list-style: none;
        width: 220px;
        height: 55px;
    }

/* banner section style here */

.banner-container{
    
    background-image: url('/assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;

}
/* Group */
.Group-img {
    display: flex;
    justify-content: center;
    width: 234px;
    height: 230px;
    margin: 0 auto;
}


/* banner-content */

.banner-content{
    padding: 10px;
}
.banner-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

}

.banner-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
align-items: ;
}

.banner-content-btn{
    
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-align: center;
    padding: 10px;
    }

    div a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 280px;     
        text-decoration: none;
        margin: 0 auto;
    }

    .web-development {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin: 0;
    }




